<div class="text-center">
  <div class="row d-flex justify-content-center">
    <div *ngFor="let card of cards" class="card my-4 mx-2" style="width: 16rem;">
      <div class="card-top">
        <h5 class="card-title my-4">{{card.name}}</h5>
        <p class="card-text">{{card.description}}</p>
        <div class="row">
          <p class="col card-text">{{card.class}} - {{card.type}}</p>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">⚔️ {{card.atack}}</div>
          <div class="col">🛡️ {{card.defense}}</div>
        </div>
      </div>
      <div class="card-footer" *ngIf="hasFooter">
        <button class="btn btn-info mx-2">Editar</button>
        <button class="btn btn-danger mx-2" (click)="onRemoveCard(card)">Deletar</button>
      </div>
    </div>
  </div>
</div>
